{% extends 'basicapp/base.html' %} 
{% load static %}
{% block body %}
<div class="container py-4">
  <h1 class="h1 text-center" id="pageHeaderTitle">All Products</h1>

  {% for item in all_prods %}
  <article class="postcard dark green">
    <a class="postcard__img_link" href="#">
      <img class="postcard__img"  src="{{ item.p_image.url }}" alt="Image Title" />
    </a>
    <div class="postcard__text">
      <h1 class="postcard__title green"><a href="#">{{item.p_name}}</a></h1>
      <div class="postcard__subtitle small"><i class="fas fa-calendar-alt me-2"></i>{{item.p_date}}</div>
      <div class="postcard__bar"></div>
      <div class="postcard__preview-txt">{{item.p_desc}}</div>
      <ul class="postcard__tagbox">
        <li class="tag__item ">
          <i class="fa-solid fa-indian-rupee-sign me-2 " style="color:#79dd09"></i>{{item.p_price}}
        </li>
        <li class="tag__item play green">
          <!-- <a href="owner/{{ item.id }}/">Contact</a> -->
          <a href="{% url 'basicapp:owner-info' item.id %}"><i class="fa-solid fa-phone me-2"></i>Contact</a>
        </li>
      </ul>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}
