{% extends 'basicapp/base.html' %} {% load static %} {% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'user/css/profile.css' %}" />
<div class="container py-4">
  <h1 class="h1 text-center" id="pageHeaderTitle">{{owner.username}}'s Profile</h1>
    <div class="row gutters">
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 mb-3">
        <div class="card h-100">
          <div class="card-body ">
            <div class="account-settings">
              <div class="user-profile">
                <div class="user-avatar">
                    <img src="{{owner.userprofile.profile_pic.url}}" alt="profile pic" id="up-pic" />
                </div>
                <h5 class="user-name">{{owner.username}}</h5>
                <h6 class="user-email">{{owner.email}}</h6>
              </div>
              <div class="about">
                <h5 class="mb-2 text-primary">About</h5>
                <div class="form-group" style="padding: 0; margin:0">{{owner.userprofile.about}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <h6 class="mb-3 text-primary">Personal Details</h6>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  Full Name : &nbsp; {{owner.userprofile.name}}
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  Contact :&nbsp;{{owner.userprofile.phone}}
                </div>
              </div>
            </div>
            <div class="row gutters mt-4" >
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h6 class="mb-3 text-primary">Address</h6>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="form-group">
                  {{owner.userprofile.address}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>



{% endblock %}
